body {
    display: flex;
    flex-direction: column;

    background-color: white;
    color:black;
}

.section-1 {
    display: flex;
    flex-direction: column;

    border-style: solid;
    margin: 10px 100px 100px 100px;
    padding: 20px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;

    border-style: solid;
    margin-bottom: 100px;
}

.logo {
    border-style: dashed;
    padding: 0 20px;
}

.links {
    display: flex;

    border-style: dashed;
    gap: 20px;
    padding: 0 20px;
}

.content {
    display: flex;
    justify-content: space-between;

    border-style: solid;
}

.left {
    display: flex;
    flex: 1;
    flex-direction: column;

    border-style: dashed;
    padding: 20px;
}

.heading {
    border-style: dotted;
    padding: 20px;
}

.paragraph {
    border-style: dotted;
}

.right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    border-style: dashed;
    padding: 20px;
}

.section-2 {
    display: flex;
    flex-direction: column;

    border-style: solid;
    margin: 10px 100px 100px 100px;
    padding: 20px;
}

.heading1 {
    display: flex;
    justify-content: center;

    border-style: solid;
}

.cards {
    display: flex;
    justify-content: center;

    border-style: solid;
    gap: 100px;
}

.each-card {
    display: flex;
    flex-direction: column;

    border-style: dashed;
}

.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-style: solid;
    margin: 10px 100px 100px 100px;
    padding: 20px;
}

.message-box {
    display: flex;
    justify-content: space-around;

    border-style: solid;
}

.message {
    border-style: dashed;
}

.section-4 {
    display: flex;
    justify-content: space-around;
    
    border-style: solid;
    margin: 10px 100px 100px 100px;
    padding: 20px;
}

footer {
    text-align: center;
}