body {
    background-color: white;
    color:black;
}

.top-container {
    display: flex;
    flex-direction: column;

    border-style: solid;
    margin: 10px 100px 100px 100px;
    padding: 20px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;

    border-style: dotted;
    margin-bottom: 100px;
}

.logo {
    border-style: dashed;
    padding: 0 20px;
}

.links {
    display: flex;

    border-style: dashed;
    gap: 20px;
    padding: 0 20px;
}

.content {
    display: flex;
    justify-content: space-between;

    border-style: dotted;
}

.left {
    display: flex;
    flex: 1;
    flex-direction: column;

    border-style: dashed;
    padding: 20px;
}

.right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    border-style: dashed;
    padding: 20px;
}